{% extends 'article.html.twig' %}
{% set type = "calendar" %}
{% set types = "events" %}

{% block template %}
{{ parent() }}
<!-- user/plugins/photon-{{ type }}/templates/{{ type }}.html.twig -->
{% endblock %}
{% block body_template_classes %}{{ parent() }} {{ type }}{% endblock body_template_classes %}

{% block schema %}
{{ parent() }}
{% include '_json-ld/' ~ type ~ '.html.twig' ignore missing  %}
{% endblock schema %}

{% set options = {  'order': {'by': 'header.data.event.startDate', 'dir': 'desc'} } %}

{% set events = page.collection(options) %}
{% set events = page.collection %}

{% block collection %}
  <section class="collection">
    <header>
      <h1>{{ types }}: <span class="count">{{ events.count() }}</span></h1>
    </header>
    {% for article in events %}
      {# % if not (article.url == page.url) and article.routable == true and article.visible == true % #}
        {% include ["_articles/#{ article.template }-excerpt.html.twig", "_articles/article-excerpt.html.twig"] with { 'article': article } %}
      {# % endif % #}
    {% endfor %}

    {% include '_sections/pagination.html.twig'   %}
  </section>
  <script type="text/javascript">
  var events = [
    {% for article in events %}
      {% set startDate = article.header.data.event.startDate %}
      {% set endDate = article.header.data.event.endDate %}
      {% set allDay = article.header.data.event.allDay %}
      {% if startDate %}
      {
        title: "{{ article.title }}",
        start: "{{ startDate|date("Y-m-d\\TH:i") }}",
        {% if allDay %}
        allDay: true,
        {% endif %}
        {% if endDate %}
        end: "{{ endDate|date("Y-m-d\\TH:i") }}",
        {% endif %}
        url: "{{ article.url }}",
        className: ""
      },
      {% endif %}
    {% endfor %}
    ];
  </script>

{% endblock collection %}

{% block calendar %}
{% endblock calendar %}
